<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">Vidal</span
    ><span class="main-header__title--orange">Computers</span>
  </h1>
  <div class="container-menu">
    <nav>
      <ul class="main-header__menu">
        <li>
          <a routerLink="produtos">Produtos</a>
        </li>
        <li>
          <a routerLink="carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            Carrinho
            <span class="badge-carrinho">
              {{ carrinhoService.obtemCarrinho().length }}
            </span>
          </a>
        </li>
        <li><a routerLink="contato">Contato</a></li>
        <li>
          <a href="https://pt-br.facebook.com/"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  <app-barra-pesquisa></app-barra-pesquisa>
</header>
